.env
.env.*
*.secret
*.secrets
**/CONFIG
**/conf.txt
**/*password*
**/*secret*
**/*.pem
**/*.key
Lead-Serverfiles/
Lead-Database-Scripts/
**/runtime/
**/logs/
**/*.log
**/*.dmp
**/dumps/
**/Debug/
**/Release/
**/x64/
**/*.exe
**/*.dll
**/*.eix
**/*.epk
**/*.pdb
**/*.obj
**/*.lib
**/*.zip
**/*.7z
**/*.rar
.vs/
*.user
Thumbs.db
Desktop.ini